html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

@font-face {
    font-family: myFirstFont;
    src: url(Poppins/Poppins-ExtraBold.ttf);
  }
  @font-face {
    font-family: mylinkFont;
    src: url(Poppins/Poppins-Medium.ttf);
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }


header{
    /* background-color: #0c0707; */
    background-color: transparent;
   
    height: 70px;
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    padding-top: 40px;
    z-index: 1;
}
nav{
    display: inline-flex;
   
    width: 100%;
    
    
}
.logo{
    margin-left: 30px;
    margin-top: 0px;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 30px;
    margin-top: 0px;
   
}
ul li{
    float: left;
    list-style: none;
    /* margin-left: 30px; */
     margin: 23px 0px 20px 40px;
}
ul li a{
    color: white;
    text-decoration: none;
    font-family: mylinkFont;
}
ul li a:hover{
    text-decoration: none;
    color: #b82455;
    font-family: mylinkFont;
}
.right {
   right: 70px;
    position: absolute;
    
}
.right ul li{
    margin-left: 30px;
}


.nav-active {
    background-color:#212020;
    box-shadow: 5px -1px 12px -5px grey;
    position: fixed;
    transition: 0.3s ease-in-out;
    padding-top: 0;
}
#hero{
    height: 100vh;
    width: 100%;
    background-image: url('img/hero6.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#hero-contents{
    padding-top: 40vh;
    margin-left: 100px;
    animation: up-down 2s ease-in-out  alternate-reverse both;
    
}
#hero-contents span{
    color: white;
    font-size: 25px;
}
#hero-contents h2{
    color: #b82455;
    font-weight: bolder;
    font-family: myFirstFont;
    font-size: 40px;
}
#hero-contents h1{
    color: white;
    font-family: myFirstFont;
    font-size: 70px;
    
}

#hero-contents  h3{
    color: white;
    font-family: myFirstFont;
    font-size: 50px;
}

#about{
    background-color:#0e0e0e ;
    height: auto;
}


.about-left{
    padding-top: 120px;
    padding-bottom: 120px;
}
#about{
    background-color:#0e0e0e ;
    height: auto;
}

.about-left img{
    border-radius: 10px;
    height: 600px;
}


.about-right{
    padding-top: 120px;
    padding-bottom: 120px;
    animation: up-down 2s ease-in-out  alternate-reverse both;
}

.about-right h1{
    font-family: myFirstFont;
    color: white;
    font-size: 60px;
}

.about-right p{
    color: rgb(219, 214, 214);
    font-size: 18px;
}

.about-right div{
    padding: 0;
    margin: 0;
}

.about-right div li{
    color: white;
    list-style: none;
    float: left;
    font-weight: bold;
    margin-left: 30px;
    
}
.about-right div li:nth-child(1){
    margin-left: 0px; 
}

#services{
    background-color:#252525 ;
    height: auto;
}
#services .row{
    padding-bottom: 100px;
}
.header h1{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: myFirstFont;
    font-size: 50px;
}
.header p{
    color: white;
    font-family: mylinkfont;
}

.service-inner{
    height: 350px;
    /* width: 350px; */
    background-color: #1b1a1a;
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.1);
}

.service-inner:hover{
    background-color: #4d4c4c;
    border-radius: 10px;
    transform: translateY(-5px);
    transition: ease-in .2s;
}
.service-inner span i{
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 50px;
}

.service-inner h3{
    color: white;
    font-family: mylinkFont;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 27px;
}

.service-inner p{
    color: white;
    font-family: mylinkFont;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
}

#portfolio{
    background-color:#0e0e0e ;
    height: auto;
}

#portfolio .row{
    padding-bottom: 100px;
}






.portfolio-inner{
    height: 600px;
    /* width: 350px; */
   background-color: #4d4c4c;
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.1);
}

.portfolio-inner:hover{
    background-color: #1b1a1a;
    border-radius: 10px;
    transform: translateY(-5px);
    transition: ease-in .2s;
    opacity: .3;
    transition: opacity .2s;
}


#contacts{
    background-color:#252525 ;
    height: auto;
}
#contacts .header h1, p{
    text-align: start;
}

#contacts .row{
    padding-top: 50px;
    padding-bottom: 100px;
}

.form input{
    height: 50px;
}
.form button{
    width: 100%;
}

footer{
    overflow-y: hidden;
    height: 70px;
    width: 100%;
    background-color:#161515;
    color: white;
      
}









